main {
    padding: 1rem;
}
.dark {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}
.white {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
main > h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
.dark h2 span {
    color: var(--secondary-color);
}
.white h2 span {
    color: var(--whiteMode-color);
}
main h3 {
    text-align: center;
}
.mainNews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}